:host {
  display: block;
}

.wiki-container {
  background-color: #ffffff;
}

.wiki-infobox-table th {
  font-weight: 500;
}

.wiki-infobox-table td {
  font-size: 13px;
}

.wiki-badge {
  font-family: monospace;
}
